*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mai-continer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(114, 112, 112);
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(180, 179, 179);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav li{
    list-style: none;
}

.nav a{
    color: rgb(180, 179, 179);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

/*.mai-continer{
    display: flex;
    height: 100vw;
    height: 60px;
    background-color: #ccc;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    right: 0px;
}
.logo{
    height: 60px;
    width: 60px;
    margin-left: 30px;
    border-radius: 50%;
    background-color: coral;
    padding: 10px;
    display: flex;
    
    
}
.nav{
    box-sizing: border-box;
    display: flex;
    height: 60px;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 16px;
    right: -20vw;
}

.nav  li{
    padding-left: 40px;
    list-style: none;
    font-size: 20px;
    
}
.nav li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.maine{
    margin-right: 2vw;
    cursor: pointer;
}
.maine:hover{
    opacity: 20%;
}
.burger{
    background-color: red;
    height: 3px;
    width: 30px;
    box-sizing: border-box;
    margin: 5px;
    
}
.nav  li :hover {
    color: rgb(146, 21, 21);
}
@media screen and (max-width: 768px){
    .nav{
        position: absolute;
        right: -30px;
        height: 98vh;
        width: 80vw;
        top: 10.5vh;
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}*/